body{
background-color: maroon;
}
h1{
   color: rebeccapurple;
   font-size: 95%; 
   text-align: center;
}
p{
   color: rebeccapurple;
   font-size: 95%;
   text-align: center;
}
#imagem1{
    width: 35%;
    height: 25%;
    border: 2px solid sandybrown;
}

.itens{
   font-style: italic;
   text-align: left;
   font-size: 25px;
}

.beneficios{
   background-color: ivory;
   font-size: 25px; 
}
h2{
   text-align: left;
}

ul{
   display: inline-block;
   vertical-align: top;
   margin: 3%;
   list-style: circle;
}

